<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Gomez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="./public/css/index.css" rel="stylesheet" type="text/css"/>
   
</head>
<header>

</header>
<body>
        <h1 id="heading">What is the Breed?</h1>
        <p id="para">Submit your photo below!</p>
    
    <div class="submit">
        <form action="submit">
            <input type="file" placeholder="Choose File" name="picture" accept="image/*">
            <button type="submit" id= "scrollBut" name= "Submit" value= "Submit">Submit</button>
        </form>
    </div>
    
</body>
</html>